<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travel Planner App</title>
  </head>
  <body>
    <header class="main__hd">
      <h1>Travel Planner</h1>
    </header>
    <main class="main__cont">
      <header class="cont__hd">
        <span>My trips:</span>
        <span id="addTrip">+ add trip</span>
      </header>
      <main class="travels__cont">
        <section class="trip__template">
          <section class="entry__left">
            <img src="https://placedog.net/500" alt="HTML Dog">
            <span>+ add lodging info</span>
            <span>+ add packing list</span>
            <span>+ add notes</span>
          </section>
          <section class="entry__right">
            <div class="dest__time">
              <span>
                <h1>My trip to: Paris, France</h1>
                <h1>Departing: 12.02.2020</h1>
              </span>
            </div>
            <div class="add__rem__button">
              <span>save trip</span>
              <span>remove trip</span>
            </div>
            <div class="distance">
              <span>Paris, France is <span>220</span> days away.</span>
            </div>
            <div class="weather">
              <h1>Typical weather for then is:</h1>
              <img src="src/client/media/def_weather.png" alt="weather icon">
              <div class="weather__text">
                <span>High: 35C°, Low: 12C°</span>
                <span>Mostly cloudy throught the day.</span>
              </div>
            </div>
          </section>
        </section>
      </main>
    </main>
    <footer>

    </footer>
  </div>
  <!-- <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script> -->
  </body>
</html>
