<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Travel Planner App</title>
  </head>
  <body>
    <header class="main__hd">
      <h1>Travel Planner</h1>
    </header>
    <main class="main__cont">
      <header class="cont__hd">
        <span>My trips:</span>
        <span id="addTrip">+ add trip</span>
      </header>
      <section id="loadCont" class="travels__cont">
      </section>
      <section class="add__travel">
        <div class="travel__input">
          <div class="travel__text">
            <h1>My trip to:</h1>
            <h1>Departing:</h1>
          </div>
          <div id="tTInput" class="travel__text">
            <div id="sRes" class="search__res"></div>
            <input id="tripLoc" type="text" name="Location" placeholder="Enter Location">
            <input id="depDate" type="date" name="Departure date" placeholder="YYYY-MM-DD">
          </div>
        </div>
        <span id="saveTrip">Save Trip</span>
      </section>
    </main>
    <footer class="main__ft">Travel Planner App</footer>
  </div>
  <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  </body>
</html>
