// main section add travel
%btn-template {
  margin-top: 1em;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.8em 1.5em 0.8em 1.5em;
  border: $btn_border_size solid $yellow;
  background: $brown;
  cursor: pointer;
}

%btn-hover{
  background: $orange;
  color: $brown
}

.add__travel{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3em 0 1em 0;
  width: 100%;
  background: $dark-red;
  border-top: 3em solid $brown;

  .travel__input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .travel__text{
    position: relative;
    display: flex;
    flex-direction: column;
    h1{
      margin: 0;
    }
    input{
      font-size: 1.3em;
      margin-left: 10px;
      color: $font_color;
      background: $brown;
      border: 0;
    }
    input:focus{
      outline: none;
    }
    .search__res{
      position: absolute;
      width: 100%;
      left: 10px;
      font-size: 1.3em;
      font-weight: bold;
      background: $brown;
    }
    .search__res div:hover{
      border: $btn_border_size solid $yellow;
      cursor: pointer;
      background: $dark-red;
    }
  }
  // save trip button
  span{
    @extend %btn-template;
  }
  span:hover{
    @extend %btn-hover;
  }
}
