@import 'addTravel';

// main content header
.cont__hd{
  font-size: 1.5em;
  margin-top: 1em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

#addTrip{
  padding: 0.6em;
  border: $btn_border_size solid $yellow;
  border-radius: 30px;
  background: $dark-red;
  cursor: pointer;
}

#addTrip:hover{
  @extend %btn-hover;
}
// main conent section -> travels__cont
.travels__cont{
  // margin-top: 2em;
}

.trip__template{
  position: relative;
  border: 0.2em solid $yellow;
  margin-top: 3em;
  background: $dark-red;
}
// expired trip style
.trip__expired{
  display: flex;
  flex-flow: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);

  h1 {
    margin-bottom: 0;
    cursor: default;
    color: rgba(255, 0, 0, 0.6);
    transform: rotate(-45deg);
  }
  h2 {
    padding-left: 4em;
    font-size: 0.5em;
    cursor: default;
    color: $yellow;
    transform: rotate(-45deg);
    opacity: 0.6;
  }
}

// destination picture and add infos
.entry__left{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 1em;
  img{
    width: 100%;
  }
  // button format
  .add__form__btn{
    margin-top: 0;
    @extend %btn-template;
    width: 60%;
    border-radius: 30px;
  }
  .add__form__btn:hover{
    @extend %btn-hover;
  }
  // textField format
  .add__from__text{
    display: flex;
    max-width: 80%;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
    word-break: break-all;
    align-self: center;
    white-space: pre-wrap;
    border: $btn_border_size solid $yellow;
    background: $brown;

    textarea{
      font-size: 1em;
      resize: vertical;
    }
    // save and cancel button
    .save__Btn {
      border: 2px solid $yellow;
      padding: 0.3em 1em;
      height: 100%;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}
// destinaiton, departing date, weather, days left, remove button
.entry__right{
  padding-top: 1em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-around;

  h1{
    font-size: 1.8em;
    margin: 0;
    align-self: center;
  }
  // detiantion and departing date
  .dest__time{
    padding: 1em 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $brown;
    width: 100%;
  }
  // save and remove button
  .add__rem__button{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2em;

    span{
      @extend %btn-template;
    }
    span:hover{
      @extend %btn-hover;
    }
  }

  .distance{
    padding: 1em 0 1em 0;
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $brown;

    span{
      text-align: center;
      font-size: 1.5em;

      span{
        font-size: 1.5em;
        font-weight: bold;
        color: $yellow;
      }
    }
  }

  .weather{
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: $brown;

    img{
      margin-top: 1em;
      align-self: center;
      width: 20%;
    }
    .weather__text{
      margin-top: 1em;
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      flex-flow: column;
      span{
        padding: 0 1em 0 1em;
      }
    }
  }
}
