$bg_color: #222831;
$hd_color: #30475e;
$border_color: #f2a365;
$btn_border_size : 5px;
$font_color: #ececec;

body {
  font-size: 2.5em;
  color: $font_color;
  background: $bg-color;

}

.main__hd {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  background: $hd_color;
}

.cont__hd{
  font-size: 1.5em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

#addTrip{
  padding: 20px;
  border: $btn_border_size solid $border_color;
  border-radius: 30px;
  background: $hd_color;
}

.travels__cont{
  margin-top: 1em;
  background: $hd_color;
}

.trip__template{
  border: 10px solid $border_color;
}

.entry__left{
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  .add__form__btn{
    width: 400px;
    font-weight: bold;
    font-size: 1.2em;
    align-self: center;
    margin-top: 1em;
    padding: 20px 40px 20px 40px;
    border: $btn_border_size solid $border_color;
    border-radius: 30px;
    background: $bg_color;
  }

  .add__from__text{
    display: flex;
    max-width: 800px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
    align-self: center;
    margin-top: 1em;
    border: $btn_border_size solid $border_color;
    background: $bg_color;

    input{
      font-size: 1em;
      width: 500px
    }
    .save__Btn {
      border: 2px solid $border_color;
      padding: 10px 40px;
    }
  }

  img{
    width: 100%;
  }
}

.entry__right{
  margin-top: 1em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  h1{
    font-size: 1.8em;
    margin: 0;
    align-self: center;
  }
}

.dest__time{
  padding: 1em 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $bg_color;
  width: 100%;
}

.add__rem__button{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2em;

  span{
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px 40px 20px 40px;
    border: $btn_border_size solid $border_color;
    background: $bg_color;
  }
}

.distance{
  padding: 1em 0 1em 0;
  display: flex;
  margin-top: 2em;
  justify-content: center;
  width: 100%;
  background: $bg_color;

  span{
    text-align: center;
    font-size: 1.5em;

    span{
      font-size: 1.2em;
      font-weight: bold;
      color: $border_color;
    }
  }
}

.weather{
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-flow: column;
  justify-content: center;

  img{
    margin-top: 1em;
    align-self: center;
    width: 256px;
    height: 256px;
  }
  .weather__text{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex-flow: column;
    span{
      padding: 0 1em 0 1em;
    }
  }
}

.add__travel{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3em 0 1em 0;
  width: 100%;
  background: $hd-color;
  border-top: 2em solid $bg-color;
  .travel__text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    h1{
      margin: 0;
      min-width: 30%;
    }
    input{
      min-width: 40%;
      max-width: 50%;
      font-size: 1.3em;
      margin-left: 10px;
      color: $font_color;
      background: $bg-color;
      border: 0;
    }
    input:focus{
      outline: none;
    }
    #saveTrip{
      height: 2em;
      margin-top: 1em;
    }
  }
  span{
    margin-top: 1em;
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px 40px 20px 40px;
    border: $btn_border_size solid $border_color;
    background: $bg_color;
  }
}
