@import 'variables';
@import 'indexHeader';
@import 'mainCont';

html{
  scroll-behavior: smooth;
}

body {
  color: $font_color;
  background: $darker-blue;
}

@media (min-width: 768px) {
  body{
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media (min-width: 1024px) {
  body{
    margin-left: 15em;
    margin-right: 15em;
  }
}

@media (min-width: 1400px) {
  body{
    margin-left: 20em;
    margin-right: 20em;
  }
}

@media (min-width: 1900px) {
  body{
    margin-left: 40em;
    margin-right: 40em;
  }
}

@media (min-width: 2400px) {
  body{
    font-size: 1.4em;
    margin-left: 35em;
    margin-right: 35em;
  }
}
