@import 'variables';
@import 'indexHeader';
@import 'mainCont';

html{
  scroll-behavior: smooth;
}

body {
  color: $font_color;
  background: $brown;
  border: 0.1em solid #D7CF07;
}

@media (min-width: 768px) {
  body{
    width: 1000px;
    // font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
  }
  .trip__template{
    display: flex;

    .trip__expired{
      font-size: 5em;
    }

    .entry__left{
      width: 50%;
      border-right: $btn_border_size solid $yellow;
    }
    .entry__right{
      width: 50%;
      border-left: $btn_border_size solid $yellow;

      .distance{
        flex-basis: 20%;
      }

      .dest__time{
        flex-basis: 20%;
      }
    }
  }
}


@media (min-width: 1400px) {
  body{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 2400px) {
  body{
    font-size: 1.6em;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
